.button-primary {
  padding: 12px 25px;

  border-radius: var(--main-radius);

  background-color: hsla(228, 54.64%, 48.28%, 1.00);

  transition: all 200ms ease;

  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #32343a;
  color: hsla(0, 0.00%, 100.00%, 1.00);
}

.button-primary:active {
  background-color: #43464d;
}